
<h2>DirecNg/Class</h2>

<h3>NgStyle</h3>

<!-- <p style="color: red;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, iusto.</p> -->

<!-- <p [ngStyle]="{ 'color': 'blue' }">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, iusto.</p> -->


<p [ngStyle]="currentStyle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, iusto.</p>

<button (click)="toggleBold()">Bold</button>
<button (click)="toggleItalic()">Italic</button>
<button (click)="toggleBig()">Big</button>

<p>-----------------------------------</p>

<h3>NgClass</h3>

<!-- On peut chainer plusieurs classes, séparées par une virgule -->
<p [ngClass]="{ 'classActive': isActive }" (click)="isActive = !isActive">Clique sur ce paragraphe !</p>

<p [ngClass]="{ 'classActive': isActive }">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, repellat.</p>
<button (click)="isActive = !isActive">Toggle Class</button>