
<h2>DirecNg/Class</h2>

<h3>NgStyle</h3>

<!-- <p style="color: red;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, iusto.</p> -->

<!-- <p [ngStyle]="{ 'color': 'blue' }">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, iusto.</p> -->


<p [ngStyle]="currentStyle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, iusto.</p>

<button (click)="toggleBold()">Bold</button>
<button (click)="toggleItalic()">Italic</button>
<button (click)="toggleBig()">Big</button>