.book-content {
    border: 2px solid blue; 
    margin: 5px; 
    padding: 0;
}
.book-content ul {  
    margin: 5px 0;
    padding: 0 10px;
}
.book-content li {
    display: flex;
    // flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    list-style-type: none;
}
.book-content p {
    margin: 0;
}
.book-content span.seperate {
    margin: 0 10px;
}
.book-content span.blueText {
    font-weight: bolder;
    color: blue;
}
.book-content button {
    width: 30px;
    height: 30px;
}
