
<div style="border: 2px solid grey; margin: 5px; padding: 1%;">
    <h2>Book List</h2>

    <div>
        <label for="book-input">Book Name : </label>
        <input id="book-input" type="text" [(ngModel)]="bookName">
        <button (click)="addBook()">Add Book</button>
        <p *ngIf="bookService.errorMessage" style="color: red;">
            {{ bookService.errorMessage }}
        </p>
    </div>


    <div *ngIf="bookService.books.length === 0">
        <p style="color: blue;">Add books to your list</p>
    </div>
    
    <ul>
        <app-book  
            *ngFor="let book of books" 
            [book]="book" />
    </ul>
    
</div>