.icon {
    width: 65px;
    height: 65px;
}

ul {
    padding: 5px 10px;
    list-style-type: none;
    border: 1px solid black;
    border-radius: 5px;
    width: max-content;
}

li {
    padding: 5px 0 ;
    text-align: center;
}