<!-- 
    La classe "red" est définie dans demo1.scss
    et ne s'applique donc pas au "h1" de ce fichier
 -->
<h1 class="red">App Component</h1>


<!-- <app-demo1></app-demo1> -->
<!-- Nouvelle écriture depuis Angular 15 -->
<!-- <app-demo1 /> -->
<!-- <app-demo2 /> -->
<!-- <app-demo3 /> -->
<!-- <app-demo4 /> -->
<!-- <app-demo5 /> -->


<!-- <app-exo1 /> -->
<!-- <app-chrono /> -->
<!-- <app-spoil /> -->
<!-- <app-menu /> -->
<!-- <app-cours /> -->


<!-- lien vers site externe : href="" -->
<!-- lien pour naviguer dans l'application : routerLink="" -->
<!-- <nav>
    <a routerLink="demo1">Demo 1</a>
    <a routerLink="demo2">Demo 2</a>
    <a routerLink="demo3">Demo 3</a>
    <a routerLink="demo4">Demo 4</a>
    <a routerLink="demo5">Demo 5</a>
    <a routerLink="exo1">Exo 1</a>
    <a routerLink="exo2">Exo 2</a>
    <a routerLink="exo3">Exo 3</a>
    <a routerLink="exo4">Exo 4</a>
    <a routerLink="exo5">Exo 5</a>
</nav> -->

<app-nav-bar />

<router-outlet />