
<h2>Structural Directives</h2>

<p>-------------------------------</p>

<h3>NgIf</h3>

<!-- <p *ngIf="isOpen">Message Secret</p> -->
<!-- <p *ngIf="!isOpen">Il y a un message secret caché !</p> -->

<p *ngIf="isOpen; else elseBlock">Message Secret</p>
<ng-template #elseBlock>Il y a un message secret caché !</ng-template>
<!-- <ng-template #elseBlock style="margin-bottom: 20px;">Il y a un message secret caché !</ng-template> -->


<button style="display: block; margin-top: 10px;" (click)="isOpen = true">Afficher</button>

<p>-------------------------------</p>

<h3>Switch</h3>

<input type="text" [(ngModel)]="choice">

<div [ngSwitch]="choice">
    <div *ngSwitchCase="1">Pomme</div>
    <div *ngSwitchCase="2">Poire</div>
    <div *ngSwitchCase="3">Pêche</div>
    <div *ngSwitchDefault>Entrez 1, 2, 3</div>
</div>

<p>-------------------------------</p>

<h3>NgFor</h3>

<input type="text" [(ngModel)]="fruitName">
<button (click)="addFruit()">Add Fruit</button>

<ul>
    <li *ngFor="let fruit of fruits; index as i; last as latest" [ngClass]="{ 'isRed': latest}">{{ i + 1 }} - {{ fruit }}</li>
</ul>


{{ 5000 | toChrono }}

  
