
<h2>Mes cours préférés</h2>

<!-- --------- -->
<!-- ACCORDEON -->
<!-- --------- -->

<section class="lescours">
    <div *ngFor="let cours of courses; index as i" class="content">
        <div class="titre-cours" (click)="toggleDescription(i)">
            <span>{{ cours.title }}</span>
            <span>{{ cours.isActive ? 'X' : 'V' }}</span>
        </div>
        <div class="description-cours" *ngIf="cours.isActive">
            <span>{{ cours.description  }}</span>
        </div>
    </div>
</section>

