<div *ngIf="connectedUser">
    <p>Bienvenue {{ connectedUser.firstName }} {{ connectedUser.lastName }}</p>
    <button (click)="deconnection()">Se déconnecter</button>
</div>

<div *ngIf="!connectedUser">
    <div>
        <label for="login">Login</label>
        <input id="login" type="text" [(ngModel)]="login">
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="text" [(ngModel)]="password">
    </div>
    <div>
        <button (click)="connection()">Se connecter</button>
    </div>
</div>
